<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
		xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
		xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
	<Bundle
			Name='$(var.ApplicationName) $(var.TruncatedVersion)'
			Version='$(var.VersionNumber)'
			UpgradeCode='$(var.UpgradeCode)'
			Tag='$(var.ApplicationName)'
			IconSourceFile='..\resources\Installer.ico'
			Copyright='Copyright © $(var.Year), $(var.Manufacturer)'
			Manufacturer='$(var.Manufacturer)'>
		<bal:Condition Message="XP is no longer supported."> (VersionNT &gt;= v6.0) </bal:Condition>
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
			<Payload SourceFile="..\resources\License.htm" />
		</BootstrapperApplicationRef>
		<!--<RelatedBundle Id='$(var.UpgradeCode)' Action='Detect'/>-->
		<WixVariable Id="WixStdbaLicenseUrl" Value="License.htm" />
		<WixVariable Id="WixStdbaLogo" Value="..\resources\bundle_background.bmp" />
		<WixVariable Id="WixStdbaThemeXml" Value="BundleTheme.xml" />
		<WixVariable Id="WixStdbaThemeWxl" Value="BundleTheme.wxl" />
		<Chain>
			<PackageGroupRef Id="NetFx461Webz" />
			<PackageGroupRef Id="vcredists" />
			<RollbackBoundary />
			<PackageGroupRef Id='AppPackageGroup'/>
		</Chain>
	</Bundle>
	<Fragment Id='AppFragment'>
		<PackageGroup Id='AppPackageGroup'>
			<MsiPackage Id='AppMsiPackage'
					DisplayName='$(var.ApplicationName) $(var.VersionNumber)'
					DisplayInternalUI='yes'
					ForcePerMachine='yes'
					InstallCondition='1'
					SourceFile='$(var.SafeApplicationName)_$(var.VersionNumber).msi'
					Visible='yes'
					Vital='yes'>
			</MsiPackage>
		</PackageGroup>
	</Fragment>
	<!-- .NET 4.6.1 -->
	<?define NetFx461MinRelease = 394254 ?>
	<?define NetFx461WebLink = http://go.microsoft.com/fwlink/?LinkId=671728 ?>
	<Fragment>
		<PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
		<Property Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" Secure="yes" />
		<SetProperty Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" Value="1" After="AppSearch">
		  WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx461MinRelease)"
		</SetProperty>
	</Fragment>
	<Fragment>
	<util:RegistrySearchRef Id="NETFRAMEWORK45"/>

	<WixVariable Id="NetFx461WebDetectCondition" Value="NETFRAMEWORK45 &gt;= $(var.NetFx461MinRelease)" Overridable="yes" />
	<WixVariable Id="NetFx461WebInstallCondition" Value="" Overridable="yes" />
	<WixVariable Id="NetFx461WebPackageDirectory" Value="redist\" Overridable="yes" />

	<PackageGroup Id="NetFx461Webz">
	  <ExePackage
		  InstallCommand="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx461FullLog].html&quot;"
		  RepairCommand="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx461FullLog].html&quot;"
		  UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log &quot;[NetFx461FullLog].html&quot;"
		  PerMachine="yes"
		  DetectCondition="!(wix.NetFx461WebDetectCondition)"
		  InstallCondition="!(wix.NetFx461WebInstallCondition)"
		  Id="NetFx461Web"
		  Vital="yes"
		  Permanent="yes"
		  Protocol="netfx4"
		  DownloadUrl="$(var.NetFx461WebLink)"
		  LogPathVariable="NetFx461FullLog"
		  Compressed="no"
		  Name="!(wix.NetFx461WebPackageDirectory)NDP461-KB3102438-Web.exe">
		<RemotePayload
		  CertificatePublicKey="52868DFCA6E3AF2632389E6C1EE7D0468D3797D0"
		  CertificateThumbprint="3BDA323E552DB1FDE5F4FBEE75D6D5B2B187EEDC"
		  Description="Microsoft .NET Framework 4.6.1 Setup"
		  Hash="EE88B05232F43B517D4A368F7EE5065CDE7F67FA"
		  ProductName="Microsoft .NET Framework 4.6.1"
		  Size="1424328"
		  Version="4.6.1055.0" />
	  </ExePackage>
	</PackageGroup>
	</Fragment>

	<?if $(sys.BUILDARCH)="x86"?>
	<!-- 32bit VC++ redistributable download section -->
	<?define VC08RedistWebLink = https://download.microsoft.com/download/1/1/1/1116b75a-9ec3-481a-a3c8-1777b5381140/vcredist_x86.exe ?>
	<?define VC10RedistWebLink =  https://download.microsoft.com/download/5/B/C/5BC5DBB3-652D-4DCE-B14A-475AB85EEF6E/vcredist_x86.exe ?>
	<?define VC11RedistWebLink =  https://download.microsoft.com/download/1/6/B/16B06F60-3B20-4FF2-B699-5E9B7962F9AE/VSU_4/vcredist_x86.exe ?>
	<?define VC12RedistWebLink =  http://download.microsoft.com/download/0/5/6/056dcda9-d667-4e27-8001-8a0c6971d6b1/vcredist_x86.exe ?>
	<?define VC15RedistWebLink = https://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/vc_redist.x86.exe ?>
	<?define VC17RedistWebLink = https://download.visualstudio.microsoft.com/download/pr/11687613/88b50ce70017bf10f2d56d60fcba6ab1/VC_redist.x86.exe ?>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{9A25302D-30C0-39D9-BD6F-21E6EC160475}"
                     Variable="CPP2008Redist"
                     Result="exists"/>
		<PackageGroup Id="redist_vc8">
			<ExePackage Id="vc8" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC08RedistWebLink)"
                  InstallCommand="/Q /norestart"
				  DetectCondition="CPP2008Redist">
				<RemotePayload Description="Microsoft Visual C++ 2008 Redistributable Setup" Hash="56719288AB6514C07AC2088119D8A87056EEB94A"
					ProductName="Microsoft Visual C++ 2008 Redistributable" Size="1821192" Version="9.0.21022.8" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x86"
                     Variable="CPP2010Redist"
                     Value="Installed"
                     Result="value"/>
		<PackageGroup Id="redist_vc10">
			<ExePackage Id="vc10" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC10RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="CPP2010Redist">
				<RemotePayload
					Size="5073240"
					Version="10.0.30319.01"
					ProductName="Microsoft Visual C++ 2010  x86 Redistributable Setup"
					Description="Microsoft Visual C++ 2010  x86 Redistributable Setup"
					Hash="372d9c1670343d3fb252209ba210d4dc4d67d358"/>
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\11.0\VC\Runtimes\x86"
                     Variable="CPP2011Redist"
                     Value="Installed"
                     Result="value"/>
		<PackageGroup Id="redist_vc11">
			<ExePackage Id="vc11" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC11RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="CPP2011Redist">
				<RemotePayload
					Size="6554576"
					Version="11.0.61030.0"
					ProductName="Microsoft Visual C++ 2012 Redistributable (x86) - 11.0.61030"
					Description="Microsoft Visual C++ 2012 Redistributable (x86) - 11.0.61030"
					Hash="96b377a27ac5445328cbaae210fc4f0aaa750d3f"/>
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\12.0\VC\Runtimes\x86"
                     Variable="CPP2012Redist"
                     Value="Installed"
                     Result="value"/>
		<PackageGroup Id="redist_vc12">
			<ExePackage Id="vc12" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC12RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="CPP2012Redist">
				<RemotePayload
					Size="6510544"
					Version="12.0.40660.0"
					ProductName="Microsoft Visual C++ 2013 Redistributable (x86) - 12.0.40660"
					Description="Microsoft Visual C++ 2013 Redistributable (x86) - 12.0.40660"
					Hash="2a07a32330d5131665378836d542478d3e7bd137"/>
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x86"
                     Variable="CPP2015Redist"
                     Value="Installed"
                     Result="value"/>
		<PackageGroup Id="redist_vc15">
			<ExePackage Id="vc15" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC15RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="CPP2015Redist">
				<RemotePayload Description="Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.23026" Hash="BFB74E498C44D3A103CA3AA2831763FB417134D1"
					ProductName="Microsoft Visual C++ 2015 Redistributable (x86) - 14.0.23026" Size="13767776" Version="14.0.23026.0" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x86"
                     Variable="CPP2017Redist"
                     Value="Installed"
                     Result="value"/>
		<PackageGroup Id="redist_vc17">
			<ExePackage Id="vc17" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x86.exe"
				  DownloadUrl="$(var.VC17RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="CPP2017Redist">
				<RemotePayload Description="Microsoft Visual C++ 2017 Redistributable (x86) - 14.13.26020.0" Hash="725656A642A518F8060892D8AB82226C1430C964"
					ProductName="Microsoft Visual C++ 2017 Redistributable (x86) - 14.13.26020.0" Size="14575896" Version="14.13.26020.0" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<?elseif $(sys.BUILDARCH)="x64"?>
	<!-- 64bit  VC++ redistributable download section -->
	<?define VC8RedistWebLink = https://download.microsoft.com/download/d/2/4/d242c3fb-da5a-4542-ad66-f9661d0a8d19/vcredist_x64.exe ?>
	<?define VC10RedistWebLink =  https://download.microsoft.com/download/3/2/2/3224B87F-CFA0-4E70-BDA3-3DE650EFEBA5/vcredist_x64.exe ?>
	<?define VC11RedistWebLink =  https://download.microsoft.com/download/1/6/B/16B06F60-3B20-4FF2-B699-5E9B7962F9AE/VSU_4/vcredist_x64.exe ?>
	<?define VC12RedistWebLink = https://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x64.exe ?>
	<?define VC15RedistWebLink = https://download.microsoft.com/download/9/3/F/93FCF1E7-E6A4-478B-96E7-D4B285925B00/vc_redist.x64.exe ?>
	<?define VC17RedistWebLink = https://download.visualstudio.microsoft.com/download/pr/11687625/2cd2dba5748dc95950a5c42c2d2d78e4/VC_redist.x64.exe ?>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{8220EEFE-38CD-377E-8595-13398D740ACE}"
                     Variable="CPP2008Redist"
                     Result="exists"
					 Win64="yes"/>
		<PackageGroup Id="redist_vc8">
			<ExePackage Id="vc8" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x64.exe"
				  DownloadUrl="$(var.VC8RedistWebLink)"
                  InstallCommand="/Q /norestart"
				  DetectCondition="CPP2008Redist">
				<RemotePayload Description="Microsoft Visual C++ 2008 Redistributable Setup" Hash="5580072A056FDD50CDF93D470239538636F8F3A9"
					ProductName="Microsoft Visual C++ 2008 Redistributable" Size="2373640" Version="9.0.21022.8" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x64"
                     Variable="CPP2010Redist64"
                     Value="Installed"
                     Result="value"
					 Win64="yes"/>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\VC\VCRedist\x64"
                     Variable="CPP2010Redist32"
                     Value="Installed"
                     Result="value"
					 Win64="no"/>
		<PackageGroup Id="redist_vc10">
			<ExePackage Id="vc10" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x64.exe"
				  DownloadUrl="$(var.VC10RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="(CPP2010Redist32) OR (CPP2010Redist64)">
				<RemotePayload Description="Microsoft Visual C++ 2010  x64 Redistributable Setup" Hash="B330B760A8F16D5A31C2DC815627F5EB40861008"
					ProductName="Microsoft Visual C++ 2010  x64 Redistributable" Size="5718872" Version="10.0.30319.1" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\11.0\VC\Runtimes\x64"
                     Variable="CPP2011Redist64"
                     Value="Installed"
                     Result="value"
					 Win64="yes"/>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\11.0\VC\Runtimes\x64"
                     Variable="CPP2011Redist32"
                     Value="Installed"
                     Result="value"
					 Win64="no"/>
		<PackageGroup Id="redist_vc11">
			<ExePackage Id="vc11" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x64.exe"
				  DownloadUrl="$(var.VC11RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="(CPP2011Redist32) OR (CPP2011Redist64)">
				<RemotePayload Description="Microsoft Visual C++ 2012 Redistributable (x64) - 11.0.61030" Hash="1A5D93DDDBC431AB27B1DA711CD3370891542797"
					ProductName="Microsoft Visual C++ 2012 Redistributable (x64) - 11.0.61030" Size="7186992" Version="11.0.61030.0" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\13.0\VC\Runtimes\x86"
                     Variable="CPP2012Redist64"
                     Value="Installed"
                     Result="value"
					 Win64="yes"/>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\13.0\VC\Runtimes\x86"
                     Variable="CPP2012Redist32"
                     Value="Installed"
                     Result="value"
					 Win64="no"/>
		<PackageGroup Id="redist_vc12">
			<ExePackage Id="vc12" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vcredist_x64.exe"
				  DownloadUrl="$(var.VC12RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="(CPP2012Redist32) OR (CPP2012Redist64)">
				<RemotePayload Description="Microsoft Visual C++ 2013 Redistributable (x64) - 12.0.30501" Hash="8BF41BA9EEF02D30635A10433817DBB6886DA5A2"
					ProductName="Microsoft Visual C++ 2013 Redistributable (x64) - 12.0.30501" Size="7194312" Version="12.0.30501.0" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>

	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                     Variable="CPP2015Redist64"
                     Value="Installed"
                     Result="value"
					 Win64="yes"/>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                     Variable="CPP2015Redist32"
                     Value="Installed"
                     Result="value"
					 Win64="no"/>
		<PackageGroup Id="redist_vc15">
			<ExePackage Id="vc15" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vc_redist.x64.exe"
				  DownloadUrl="$(var.VC15RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="(CPP2015Redist32) OR (CPP2015Redist64)">
				<RemotePayload Description="Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.23026" Hash="3155CB0F146B927FCC30647C1A904CD162548C8C"
					ProductName="Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.23026" Size="14572000" Version="14.0.23026.0" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<Fragment>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                     Variable="CPP2017Redist64"
                     Value="Installed"
                     Result="value"
					 Win64="yes"/>
		<util:RegistrySearch Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64"
                     Variable="CPP2017Redist32"
                     Value="Installed"
                     Result="value"
					 Win64="no"/>
		<PackageGroup Id="redist_vc17">
			<ExePackage Id="vc17" Cache="no" PerMachine="yes" Vital="yes" Compressed="no" Permanent="yes"
				  Name="vc_redist.x64.exe"
				  DownloadUrl="$(var.VC17RedistWebLink)"
                  InstallCommand="/quiet /norestart"
				  DetectCondition="(CPP2017Redist32) OR (CPP2017Redist64)">
				<RemotePayload Description="Microsoft Visual C++ 2017 Redistributable (x64) - 14.13.26020" Hash="5027E77B7EDEDA314287F9E2279C3927D92F6FF8"
					ProductName="Microsoft Visual C++ 2017 Redistributable (x64) - 14.13.26020" Size="15301240" Version="14.13.26020.0" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
		</PackageGroup>
	</Fragment>
	<?else?>
		<?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
	<?endif?>
	<?include ../Common/Redistributables.wxi?>
</Wix>